@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

.titulo-grande {
    font-size: 3em;
   }

#div-pre{
    background-color: chartreuse;
}

html{
    font-family: "Baskervville SC", serif;
}

#vazia{
    height: 30px;
    width: 50px;
    background-color: aqua;
}