.grid-container {
    display: grid;
    grid-template: 
    "a"
    "b"
    "c";
    ;
    grid-template-columns: auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.item1 {
    grid-area: a;
  }

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

@media screen and (min-width: 768px){
    .grid-container{
        grid-template: 
        "a a a"
        "b o c"
        "b o c";
        grid-template-rows: 1fr 1fr 1fr;
    }
}